main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    font-family: sans-serif;
}

main > * {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}