main>* {
    background-color: goldenrod;
    padding: 10px;
    font-size: 3em;
}


/* We define the GRID container*/

main {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "header" "left" "content" "right" "footer";
}


/*Desktop*/

@media (max-width: 500px) {
    main {
        grid-template-areas: "header header header" "left content  right""footer footer .";
        /*We use a dot to specify that we want nothing there. If no word is used, Grid will stop working.*/
    }
}


/* We name the elements */

header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: left;
}

article {
    grid-area: content;
}

aside:last-of-type {
    grid-area: right;
}

footer {
    grid-area: footer;
}