main {
    
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;

    
}


div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}